.page-title {
    @include generate-font-type("h4");
    color: getColor("grey-900");
}

.meta-block {
    min-width: toRem(150);
    .meta-name {
        @include generate-font-type("tertiary-3");
        color: getColor('grey-600');
        margin-bottom: toRem(7);
    }
    .meta-value {
        @include generate-font-type("secondary-2");
        color: getColor("grey-900");
    }
    .app-chip {
        padding: toRem(2.75) toRem(10) toRem(2) toRem(21);
        font-size: toRem(11.5);
        .chip-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: toRem(170);
        }
        @include breakpoint-down(md) {
            padding: toRem(2.75) toRem(13) toRem(2) toRem(21);
        }
    }
}

tr {
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}